html {
  scroll-behavior: smooth;
}
body {
  max-width: 1440px;
  font-family: 'Kumbh Sans', serif;
  background-color: #19a1ae;
  background-image: url(assets/images/bg-pattern-top.svg), url(assets/images/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: -300px -400px, 150% -80%;
  background-size: 978px 976px;
}
