.main {
}

.card {
  width: 350px;
  height: 374px;
  background-color: white;
  &__pattern {
    position: relative;
    height: 140px;
    background-image: url(assets/images/bg-pattern-card.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 350px 140px;
  }

  &__img {
    position: absolute;
    top: 92px;
    left: 127px;
    border-radius: 50%;
    border: 5px solid white;
  }
}
