.bold_text {
  font-weight: bold;
  font-size: 18px;
  color: #2e3349;
  line-height: auto;
}

.regular_text {
  font-weight: normal;
  font-size: 18px;
  color: #6b7082;
  line-height: auto;
}

.small_text {
  font-weight: normal;
  font-size: 14px;
  color: #6b7082;
  line-height: auto;
}

.stats_text {
  font-weight: normal;
  font-size: 10px;
  color: #6b7082;
  line-height: 1.5px;
}
